.btn {
  vertical-align: top;
  margin: 20px;
  display: inline-block;
  text-align: center;
  height: 42px;
  line-height: 24px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  opacity: 0.6;
  box-shadow: none;
}

/* 默认效果 */
.default,
.default::after {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.default {
  border: 1px solid #c147e6;
  color: #c147e6;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.default:focus,
.default:active:focus,
.default.active:focus,
.default.focus,
.default:active.focus,
.default.active.focus,
.default:hover {
  color: #fff;
}

.default::before,
.default::after {
  background: #c147e6;
  content: "";
  position: absolute;
  z-index: -2;
  border-radius: 3px;
}

.default::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.default:focus:after,
.default:active:focus:after,
.default.active:focus:after,
.default.focus:after,
.default:active.focus:after,
.default.active.focus:after,
.default:hover:after,
.default:active:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

/* 圆形动画效果 */
.circle {
  background: none;
  border: 1px solid;
  width: 158px;
  letter-spacing: inherit;
  text-transform: inherit;
  transition: color 1s;
  color: #9c89f7;
}

.circle:hover {
  animation: halftone 1s forwards;
  background: radial-gradient(circle, #9c89f7 0.2em, transparent 0.25em) 0 0/1.25em
      1.25em,
    radial-gradient(circle, #9c89f7 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em
      1.25em;
  color: #e4f789;
}

@keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}
